@model Proyecto.Models.Productos

@{
    ViewData["Title"] = "Delete";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalles del Producto a Eliminar</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-4">
                Codigo Producto:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.IdProductos)
            </dd>
            <dt class="col-sm-4">
                Nombre:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Descripcion):
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Presentacion):
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Presentacion)
            </dd>
            <dt class="col-sm-4">
                Cantidad Presentacion:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CantidadPresentacion)
            </dd>
            <dt class="col-sm-4">
                Tipo Empaque:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TipoEmpaque)
            </dd>
            <dt class="col-sm-4">
                Cantidad Empaque:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CantidadEmpaque)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Precio):
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Precio)
            </dd>
        </dl>       
    </div>

</div>
<br />
<div class="form-group row">
    <div class="col-sm-12">
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdProductos" />
            <input type="submit" value="Eliminar" class="btn btn-danger float-right" /> |
            <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
        </form>

    </div>
</div>
