@model Proyecto.Models.Productos

@{
    ViewData["Title"] = "Detalles";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Información del Producto</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                Codigo Producto:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.IdProductos)
            </dd>
            <dt class="col-sm-4">
                Nombre:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Descripcion):
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Presentacion):
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Presentacion)
            </dd>
            <dt class="col-sm-4">
                Cantidad Presentacion:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CantidadPresentacion)
            </dd>
            <dt class="col-sm-4">
                Tipo Empaque:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TipoEmpaque)
            </dd>
            <dt class="col-sm-4">
                Cantidad Empaque:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CantidadEmpaque)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Precio):
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Precio)
            </dd>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.IdProductos">Editar</a>
    <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la Lista</a>
</div>
