@model IEnumerable<Proyecto.Models.ProductoFactura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdProductoFactura">Edit</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.IdProductoFactura">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdProductoFactura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
