@model Proyecto.Models.ProveedorEditViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalles del Proveedor a Eliminar</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                Codigo
            </dt>
            <dd class="col-sm-8">
                @Model.Proveedor.IdProveedores
            </dd>
            <dt class="col-sm-4">
                Nombre
            </dt>
            <dd class="col-sm-8">
                @Model.Proveedor.Nombre
            </dd>
            <dt class="col-sm-4">
                Correo
            </dt>
            <dd class="col-sm-8">
                @Model.Proveedor.Correo
            </dd>
            <dt class="col-sm-4">
                Telefono 1
            </dt>
            <dd class="col-sm-8">
                @Model.Proveedor.Telefono1
            </dd>
            <dt class="col-sm-4">
                Telefono 2
            </dt>
            <dd class="col-sm-8">
                @Model.Proveedor.Telefono2
            </dd>
            <dt class="col-sm-4">
                Provincia
            </dt>
            <dd class="col-sm-8">
                @Model.Proveedor.Provincia.Nombre
            </dd>
            <dt class="col-sm-4">
                Canton
            </dt>
            <dd class="col-sm-8">
                @Model.Proveedor.Canton.Nombre
            </dd>
            <dt class="col-sm-4">
                Distrito
            </dt>
            <dd class="col-sm-8">
                @Model.Proveedor.Distrito.Nombre
            </dd>
            <dt class="col-sm-4">
                Direccion Exacta
            </dt>
            <dd class="col-sm-8">
                @Model.Proveedor.DireccionExacta
            </dd>
        </dl>
    </div>

</div>
<br />
<div class="form-group row">
    <div class="col-sm-12">
          <form asp-action="Delete">
            <input type="hidden" asp-for="Proveedor.IdProveedores" />
        <input type="submit" value="Eliminar" class="btn btn-danger float-right" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
        </form>

    </div>
</div>