@model Proyecto.Models.Bodegas

@{
    ViewData["Title"] = "Delete";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalles de Bodega a Eliminar</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                Codigo Bodega:
            </dt>
            <dd class="col-sm-8">
                @Model.IdBodegas
            </dd>
            <dt class="col-sm-4">
                Nombre:
            </dt>
            <dd class="col-sm-8">
                @Model.Nombre
            </dd>
            <dt class="col-sm-4">
                Provincia:
            </dt>
            <dd class="col-sm-8">
                @Model.Provincia.Nombre
            </dd>
            <dt class="col-sm-4">
                Canton:
            </dt>
            <dd class="col-sm-8">
                @Model.Canton.Nombre
            </dd>
            <dt class="col-sm-4">
                Distrito:
            </dt>
            <dd class="col-sm-8">
                @Model.Distrito.Nombre
            </dd>
            <dt class="col-sm-4">
                Direccion Exacta: 
            </dt>
            <dd class="col-sm-8">
                @Model.DireccionExacta
            </dd>          
        </dl>

    </div>

</div>
<br />
<div class="form-group row">
    <div class="col-sm-12">
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdBodegas" />
            <input type="submit" value="Eliminar" class="btn btn-danger float-right" /> |
            <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
        </form>
        
    </div>
</div>