@model IEnumerable<Proyecto.Models.Bodegas>

@{
    ViewData["Title"] = "Index";
    int contador = 0;
}

<h1>Bodegas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nueva</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr class ="table-dark table-primary">
            <th>
                Numero Bodega
            </th>
            <th>
                Provincia
            </th>
            <th>
                Canton
            </th>
            <th>
                Distrito
            </th>
            <th>
                DireccionExacta
            </th>
            <th>
                Encargado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr class="table-light">
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
               1
            </td>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id= 1 >Editar</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id= 1>Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id= 1 >Eliminar</a>
            </td>
        </tr>

        <tr class="table-secondary">
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id=1>Editar</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id=1>Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id=1>Eliminar</a>
            </td>
        </tr>

 @foreach (var item in Model) {
            @if (contador > 0)
            {
                contador = 0;
                <tr class ="table-secondary">
                    <td>
               hola
                    </td>
                    <td>
                @Html.DisplayFor(modelItem => item.Canton.Nombre)
                    </td>
                    <td>
                @Html.DisplayFor(modelItem => item.Distrito.Nombre)
                    </td>
                    <td>
                @Html.DisplayFor(modelItem => item.DireccionExacta)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdBodegas">Editar</a> |
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.IdBodegas">Detalles</a> |
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdBodegas">Eliminar</a>
                    </td>
                </tr>
            }
            else
            {
                contador ++;
                <tr class="table-light">
                    <td>
                        @Html.DisplayFor(modelItem => item.Provincia.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Canton.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Distrito.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DireccionExacta)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdBodegas">Editar</a> |
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.IdBodegas">Detalles</a> |
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdBodegas">Eliminar</a>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>
