@model IEnumerable<Proyecto.Models.Bodegas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Canton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionExacta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Canton.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionExacta)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdBodegas">Edit</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.IdBodegas">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdBodegas">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
