@model Proyecto.Models.Usuarios

@{
    ViewData["Title"] = "Delete";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Cedula)
            </dt>
            <dd class="col-sm-8">
                123456789
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-8">
                Luis
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Apellidos)
            </dt>
            <dd class="col-sm-8">
                Rodriguez Zeledón
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd class="col-sm-8">
                3333-3333
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Puesto)
            </dt>
            <dd class="col-sm-8">
                Gondolero
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.IdBodegas)
            </dt>
            <dd class="col-sm-8">
                Bodega 1
            </dd>
		</dl>
    </div>

</div>
<br />
<div class="form-group row">
    <div class="col-sm-12">
        <input type="submit" value="Eliminar" class="btn btn-danger float-right" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>
